<div class="widget" style="height: 415px;">

    <!-- Widget Layer: List -->
    <div id="wg-project-feed-layer-list" class="widget-layer widget-layer-active">
        <div class="widget-layer-content">

            <!-- Widget Layer Heading -->
            <div class="widget-heading">

                <!-- Widget Title -->
                <div class="widget-title">Nuevos Pacientes</div>
                <!-- /Widget Title -->

                <!-- Widget Layer Controls -->
                <div class="widget-controls">
                    <button type="button" class="btn btn-square btn-link btn-link-text btn-primary"
                            data-widget-toggle="layer" data-widget-target="#wg-project-feed-layer-create">
                        <i class="icon icon_plus"></i>
                    </button>
                </div>
                <!-- /Widget Layer Controls -->

            </div>
            <!-- /Widget Layer Heading -->

            <!-- Widget Layer Body -->
            <div class="widget-body">
                <div class="widget-body-content-wrapper custom-scrollbar">
                    <div class="widget-body-content">

                        <!-- Projects List -->
                        <div class="widget-wide no-mb list-group list-group-colored list-group-no-border list-group-hover">

                            <!-- Project Item -->
                            <div class="list-group-item user-list-item project-feed-item list-group-item-secondary">

                                <!-- Heading -->
                                <a href="#wg-project-01" class="wg-heading" data-toggle="collapse">

                                    <!-- Avatar -->
                                    <div class="user-avatar avatar">
                                        <img src="images/avatar-f-05.jpg" alt="" title="">
                                    </div>
                                    <!-- /Avatar -->

                                    <!-- Information -->
                                    <div class="user-name">Mildred Perry</div>
                                    <div class="user-text">Motivo: <span class="label label-secondary">Consulta</span></div>
                                    <!-- /Information -->

                                    <!-- Datetime -->
                                    <div class="wg-datetime">
                                        29 March 2019
                                        <span>03:27 PM</span>
                                    </div>
                                    <!-- /Datetime -->

                                </a>
                                <!-- /Heading -->

                                <!-- Collapsed Body -->
                                <div id="wg-project-01" class="wg-body collapse">
                                    <div class="wg-body-content">

                                        <!-- List Tree -->
                                        <ul class="list-tree mb-0p5">
                                            <li class="list-tree-heading">
                                                Updated Files:
                                            </li>
                                            <li>_badges.scss</li>
                                            <li>_clearfix.scss</li>
                                            <li>main-font.woff</li>
                                        </ul>
                                        <!-- /List Tree -->

                                        <!-- Project progress -->
                                        <div class="progress-titled">
                                            <div class="progress-title">Project completed in <span class="value">70%</span></div>
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-secondary" role="progressbar"
                                                     aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"
                                                     style="width: 70%;">
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /Project progress -->

                                    </div>
                                </div>
                                <!-- /Collapsed Body -->

                            </div>
                            <!-- /Project Item -->

                            <!-- Project Item -->
                            <div class="list-group-item user-list-item project-feed-item list-group-item-secondary">

                                <!-- Heading -->
                                <a href="#wg-project-02" class="wg-heading" data-toggle="collapse">

                                    <!-- Avatar -->
                                    <div class="user-avatar avatar">
                                        <img src="images/avatar-m-04.jpg" alt="" title="">
                                    </div>
                                    <!-- /Avatar -->

                                    <!-- Information -->
                                    <div class="user-name">Jason Fowler</div>
                                    <div class="user-text">Motivo: <span class="label label-secondary">Consulta</span></div>
                                    <!-- /Information -->

                                    <!-- Datetime -->
                                    <div class="wg-datetime">
                                        29 March 2019
                                        <span>03:27 PM</span>
                                    </div>
                                    <!-- /Datetime -->

                                </a>
                                <!-- /Heading -->

                                <!-- Collapsed Body -->
                                <div id="wg-project-02" class="wg-body collapse">
                                    <div class="wg-body-content">

                                        <!-- List Tree -->
                                        <ul class="list-tree mb-0p5">
                                            <li class="list-tree-heading">
                                                Updated Files:
                                            </li>
                                            <li>_badges.scss</li>
                                            <li>_clearfix.scss</li>
                                            <li>main-font.woff</li>
                                        </ul>
                                        <!-- /List Tree -->

                                        <!-- Project progress -->
                                        <div class="progress-titled">
                                            <div class="progress-title">Project completed in <span class="value">70%</span></div>
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-secondary" role="progressbar"
                                                     aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"
                                                     style="width: 70%;">
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /Project progress -->

                                    </div>
                                </div>
                                <!-- /Collapsed Body -->

                            </div>
                            <!-- /Project Item -->

                            <!-- Project Item -->
                            <div class="list-group-item user-list-item project-feed-item list-group-item-success">

                                <!-- Heading -->
                                <a href="#wg-project-03" class="wg-heading" data-toggle="collapse">

                                    <!-- Avatar -->
                                    <div class="user-avatar avatar">
                                        <img src="images/avatar-f-02.jpg" alt="" title="">
                                    </div>
                                    <!-- /Avatar -->

                                    <!-- Information -->
                                    <div class="user-name">Marie Palmer</div>
                                    <div class="user-text">Motivo: <span class="label label-success">Resultados</span></div>
                                    <!-- /Information -->

                                    <!-- Datetime -->
                                    <div class="wg-datetime">
                                        29 March 2019
                                        <span>03:27 PM</span>
                                    </div>
                                    <!-- /Datetime -->

                                </a>
                                <!-- /Heading -->

                                <!-- Collapsed Body -->
                                <div id="wg-project-03" class="wg-body collapse">
                                    <div class="wg-body-content">

                                        <!-- List Tree -->
                                        <ul class="list-tree mb-0p5">
                                            <li class="list-tree-heading">
                                                Updated Files:
                                            </li>
                                            <li>_badges.scss</li>
                                            <li>_clearfix.scss</li>
                                            <li>main-font.woff</li>
                                        </ul>
                                        <!-- /List Tree -->

                                        <!-- Project progress -->
                                        <div class="progress-titled">
                                            <div class="progress-title">Project completed in <span class="value">70%</span></div>
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-secondary" role="progressbar"
                                                     aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"
                                                     style="width: 70%;">
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /Project progress -->

                                    </div>
                                </div>
                                <!-- /Collapsed Body -->

                            </div>
                            <!-- /Project Item -->

                            <!-- Project Item -->
                            <div class="list-group-item user-list-item project-feed-item list-group-item-danger">

                                <!-- Heading -->
                                <a href="#wg-project-04" class="wg-heading" data-toggle="collapse">

                                    <!-- Avatar -->
                                    <div class="user-avatar avatar">
                                        <img src="images/avatar-f-03.jpg" alt="" title="">
                                    </div>
                                    <!-- /Avatar -->

                                    <!-- Information -->
                                    <div class="user-name">Theresa Jacobs</div>
                                    <div class="user-text">Motivo: <span class="label label-danger">Emergencia</span></div>
                                    <!-- /Information -->

                                    <!-- Datetime -->
                                    <div class="wg-datetime">
                                        29 March 2019
                                        <span>03:27 PM</span>
                                    </div>
                                    <!-- /Datetime -->

                                </a>
                                <!-- /Heading -->

                                <!-- Collapsed Body -->
                                <div id="wg-project-04" class="wg-body collapse">
                                    <div class="wg-body-content">

                                        <!-- List Tree -->
                                        <ul class="list-tree mb-0p5">
                                            <li class="list-tree-heading">
                                                Updated Files:
                                            </li>
                                            <li>_badges.scss</li>
                                            <li>_clearfix.scss</li>
                                            <li>main-font.woff</li>
                                        </ul>
                                        <!-- /List Tree -->

                                        <!-- Project progress -->
                                        <div class="progress-titled">
                                            <div class="progress-title">Project completed in <span class="value">70%</span></div>
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-secondary" role="progressbar"
                                                     aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"
                                                     style="width: 70%;">
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /Project progress -->

                                    </div>
                                </div>
                                <!-- /Collapsed Body -->

                            </div>
                            <!-- /Project Item -->

                            <!-- Project Item -->
                            <div class="list-group-item user-list-item project-feed-item list-group-item-warning">

                                <!-- Heading -->
                                <a href="#wg-project-05" class="wg-heading" data-toggle="collapse">

                                    <!-- Avatar -->
                                    <div class="user-avatar avatar">
                                        <img src="images/avatar-f-04.jpg" alt="" title="">
                                    </div>
                                    <!-- /Avatar -->

                                    <!-- Information -->
                                    <div class="user-name">Christine Miller</div>
                                    <div class="user-text">Motivo: <span class="label label-warning">Parto</span></div>
                                    <!-- /Information -->

                                    <!-- Datetime -->
                                    <div class="wg-datetime">
                                        29 March 2019
                                        <span>03:27 PM</span>
                                    </div>
                                    <!-- /Datetime -->

                                </a>
                                <!-- /Heading -->

                                <!-- Collapsed Body -->
                                <div id="wg-project-05" class="wg-body collapse">
                                    <div class="wg-body-content">

                                        <!-- List Tree -->
                                        <ul class="list-tree mb-0p5">
                                            <li class="list-tree-heading">
                                                Updated Files:
                                            </li>
                                            <li>_badges.scss</li>
                                            <li>_clearfix.scss</li>
                                            <li>main-font.woff</li>
                                        </ul>
                                        <!-- /List Tree -->

                                        <!-- Project progress -->
                                        <div class="progress-titled">
                                            <div class="progress-title">Project completed in <span class="value">70%</span></div>
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-secondary" role="progressbar"
                                                     aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"
                                                     style="width: 70%;">
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /Project progress -->

                                    </div>
                                </div>
                                <!-- /Collapsed Body -->

                            </div>
                            <!-- /Project Item -->

                        </div>
                        <!-- /Projects List -->

                    </div>
                </div>
            </div>
            <!-- /Widget Layer Body -->

        </div>
    </div>
    <!-- /Widget Layer: List -->

    <!-- Widget Layer: Create Project -->
    <div id="wg-project-feed-layer-create" class="widget-layer widget-animation-zoom">
        <div class="widget-layer-content">

            <!-- Widget Layer Heading -->
            <div class="widget-heading">

                <!-- Widget Title -->
                <div class="widget-title">Create Project</div>
                <!-- /Widget Title -->

            </div>
            <!-- /Widget Layer Heading -->

            <!-- Widget Layer Body -->
            <div class="widget-body">
                <div class="widget-body-content-wrapper custom-scrollbar">
                    <div class="widget-body-content">

                        <!-- Form -->
                        <form method="post">

                            <!-- Form Group -->
                            <div class="form-group">
                                <div class="md-input">
                                    <input type="text" id="frm-project-name" class="md-control" placeholder="">
                                    <label for="frm-project-name" class="md-label">Name</label>
                                </div>
                            </div>
                            <!-- /Form Group -->

                            <!-- Form Group -->
                            <div class="form-group">
                                <label for="frm-project-action">Action</label>
                                <div class="md-select">
                                    <select id="frm-project-action" class="form-control">
                                        <option>Create</option>
                                        <option>Update</option>
                                        <option>Remove</option>
                                    </select>
                                </div>
                            </div>
                            <!-- /Form Group -->

                            <!-- Form Group -->
                            <div class="form-group">

                                <div>
                                    <label>Color</label>
                                </div>

                                <div class="md-radio-color md-radio-inline md-radio-color-default">
                                    <input id="rd-color-default" type="radio" name="radio">
                                    <label for="rd-color-default"></label>
                                </div>

                                <div class="md-radio-color md-radio-inline md-radio-color-primary">
                                    <input id="rd-color-primary" type="radio" name="radio">
                                    <label for="rd-color-primary"></label>
                                </div>

                                <div class="md-radio-color md-radio-inline md-radio-color-info">
                                    <input id="rd-color-info" type="radio" name="radio" checked>
                                    <label for="rd-color-info"></label>
                                </div>

                                <div class="md-radio-color md-radio-inline md-radio-color-success">
                                    <input id="rd-color-success" type="radio" name="radio">
                                    <label for="rd-color-success"></label>
                                </div>

                                <div class="md-radio-color md-radio-inline md-radio-color-warning">
                                    <input id="rd-color-warning" type="radio" name="radio">
                                    <label for="rd-color-warning"></label>
                                </div>

                                <div class="md-radio-color md-radio-inline md-radio-color-danger">
                                    <input id="rd-color-danger" type="radio" name="radio">
                                    <label for="rd-color-danger"></label>
                                </div>

                                <div class="md-radio-color md-radio-inline md-radio-color-white">
                                    <input id="rd-color-white" type="radio" name="radio">
                                    <label for="rd-color-white"></label>
                                </div>

                            </div>
                            <!-- /Form Group -->

                        </form>
                        <!-- /Form -->

                    </div>
                </div>
            </div>
            <!-- /Widget Layer Body -->

            <!-- Widget Layer Footer -->
            <div class="widget-footer text-right">
                <button type="button" class="btn btn-link btn-strong text-uppercase btn-danger"
                        data-widget-toggle="layer" data-widget-target="#wg-project-feed-layer-create">Cancel</button>
                <button type="button" class="btn btn-link btn-strong text-uppercase btn-success">Create</button>
            </div>
            <!-- /Widget Layer Footer -->

        </div>
    </div>
    <!-- /Widget Layer: Create Project -->

</div>