<!-- Widget: Recent Activity -->
<div class="widget" style="height: 415px;">

    <!-- Widget Layer: List -->
    <div class="widget-layer widget-layer-active">
        <div class="widget-layer-content">

            <!-- Widget Layer Heading -->
            <div class="widget-heading">

                <!-- Widget Title -->
                <div class="widget-title">Actividad Reciente</div>
                <!-- /Widget Title -->

            </div>
            <!-- /Widget Layer Heading -->

            <!-- Widget Layer Body -->
            <div class="widget-body">
                <div class="widget-body-content-wrapper custom-scrollbar">
                    <div class="widget-body-content">

                        <!-- Timeline -->
                        <ul class="timeline">

                            <!-- Timeline item -->
                            <li class="timeline-item timeline-item-secondary">
                                <div class="timeline-datetime">3 minutes ago</div>
                                <div class="timeline-content">
                                    <a href="#">Samira</a> ha creado una nueva factura.
                                </div>
                            </li>
                            <!-- /Timeline item -->

                            <!-- Timeline item -->
                            <li class="timeline-item timeline-item-success">
                                <div class="timeline-datetime">12 minutes ago</div>
                                <div class="timeline-content">
                                    Se ha creado un nuevo cliente.
                                </div>
                            </li>
                            <!-- /Timeline item -->

                            <!-- Timeline item -->
                            <li class="timeline-item timeline-item-secondary">
                                <div class="timeline-datetime">Thu, 18 Jan 09:27 PM</div>
                                <div class="timeline-content">
                                    <a href="#">Sandro</a> actualiz&oacute; al cliente <a href="#">Carmen Ramirez</a>.
                                </div>
                            </li>
                            <!-- /Timeline item -->

                            <!-- Timeline item -->
                            <li class="timeline-item timeline-item-danger">
                                <div class="timeline-datetime">Wed, 17 Jan 01:12 AM</div>
                                <div class="timeline-content">
                                   Un cliente ha cancelado su cita.
                                </div>
                            </li>
                            <!-- /Timeline item -->

                            <!-- Timeline item -->
                            <li class="timeline-item timeline-item-secondary">
                                <div class="timeline-datetime">Sun, 14 Jan 07:32 PM</div>
                                <div class="timeline-content">
                                    <a href="#">Ashley</a> se conect&oacute; al sistema.
                                </div>
                            </li>
                            <!-- /Timeline item -->

                            <!-- Timeline item -->
                            <li class="timeline-item timeline-item-primary">
                                <div class="timeline-datetime">Wed, 10 Jan 12:00 PM</div>
                                <div class="timeline-content">
                                    Se recibi&oacute; una transferencia de $12,756.67.
                                </div>
                            </li>
                            <!-- /Timeline item -->

                            <!-- Timeline item -->
                            <li class="timeline-item timeline-item-secondary">
                                <div class="timeline-datetime">Mon, 1 Jan 12:00 AM</div>
                                <div class="timeline-content">
                                    Nuevas reclamaciones aceptadas por ASICORP.
                                </div>
                            </li>
                            <!-- /Timeline item -->

                        </ul>
                        <!-- /Timeline -->

                    </div>
                </div>
            </div>
            <!-- /Widget Layer Body -->

        </div>
    </div>
    <!-- /Widget Layer: List -->

</div>
<!-- /Widget: Recent Activity -->