    <!-- Widget Layer: List -->
    <div class="widget-layer widget-layer-active">
        <div class="widget-layer-content">

            <!-- Widget Layer Heading -->
            <div class="widget-heading">

                <!-- Widget Title -->
                <div class="widget-title">Communicaciones Recientes</div>
                <!-- /Widget Title -->

            </div>
            <!-- /Widget Layer Heading -->

            <!-- Widget Layer Body -->
            <div class="widget-body">
                <div class="widget-body-content-wrapper custom-scrollbar">
                    <div class="widget-body-content">

                        <!-- Comments -->
                        <ul class="wg-comments">

                            <!-- Comment -->
                            <li class="comment">

                                <!-- Avatar -->
                                <div class="image avatar">
                                    <img src="images/avatar-f-03.jpg" alt="">
                                </div>
                                <!-- /Avatar -->

                                <!-- Author -->
                                <div class="comment-heading">
                                    <div class="name">Yobianca Cornelio</div>
                                    <div class="meta">
                                        2 days ago at 11:27 PM
                                        <span class="label label-primary">Pendiente</span>
                                    </div>
                                </div>
                                <!-- /Author -->

                                <!-- Comment text -->
                                <div class="comment-text">
                                Saludos estimados, les escribo para hacerles saber que se recibieron las facturas del mes de junio, cuando puedan envien el mensajero para recoger el cheque del mes de marzo.
                                </div>
                                <!-- /Comment text -->

                                <!-- Buttons block -->
                                <div class="comment-buttons mt">
                                    <button class="btn btn-sm btn-link btn-link-light btn-success">
                                        <span class="icon icon-left ti-check"></span> Approvar
                                    </button>
                                    <button class="btn btn-sm btn-link btn-link-light btn-danger">
                                        <span class="icon icon-left ti-close"></span> Rechazar
                                    </button>
                                </div>
                                <!-- /Buttons block -->

                            </li>
                            <!-- /Comment -->

                            <!-- Comment -->
                            <li class="comment">

                                <!-- Avatar -->
                                <div class="image avatar">
                                    <img src="images/avatar-f-08.jpg" alt="">
                                </div>
                                <!-- /Avatar -->

                                <!-- Author -->
                                <div class="comment-heading">
                                    <div class="name">Pedro Villar</div>
                                    <div class="meta">
                                        2 days ago at 11:27 PM
                                        <span class="label label-success">Approvado</span>
                                    </div>
                                </div>
                                <!-- /Author -->

                                <!-- Comment text -->
                                <div class="comment-text">
                              Las reclamaciones del mes de Marzo estan lista para cobro, de todas formas como lo conversado debe verificar las glosas pendientes con ARS Senasa para dicho mes.
                                </div>
                                <!-- /Comment text -->

                            </li>
                            <!-- /Comment -->

                        </ul>
                        <!-- /Comments -->

                    </div>
                </div>
            </div>
            <!-- /Widget Layer Body -->

        </div>
    </div>
    <!-- /Widget Layer: List -->

</div>
<!-- /Widget: Recent Comments -->