 
 <div class="col-xs-12 col-sm-12 col-lg-8">
                <!-- Widget: Site Visits -->
                <div class="widget" style="height: 415px;">

                    <!-- Widget Layer: List -->
                    <div class="widget-layer widget-layer-active">
                        <div class="widget-layer-content">

                            <!-- Widget Layer Body -->
                            <div class="widget-body">
                                <div class="widget-body-content-wrapper custom-scrollbar">
                                    <div class="widget-body-content">

                                        <div class="kv-item">

                                            <!-- Widget title & subtitle -->
                                            <div>
                                                <div class="h4 no-margin">Resumen de actividad</div>
                                                <div class="text-muted mb-1p5">Estadística de los ultimos 6 meses</div>
                                            </div>
                                            <!-- /Widget title & subtitle -->
                                        </div>
                                        <!-- Widget chart -->
                                        <div class="canvas-holder" style="width: 100%;">
                                            <canvas id="widget-site-visits-chart" height="90"></canvas>
                                        </div>
                                        <!-- /Widget chart -->
                                    </div>
                                </div>
                            </div>
                            <!-- /Widget Layer Body -->
                        </div>
                    </div>
                    <!-- /Widget Layer: List -->
                </div>
                <!-- /Widget: Site Visits -->
            </div>