<!-- Widget: Task List -->
<div class="widget" style="height: 415px;">

    <!-- Widget Layer: List -->
    <div class="widget-layer widget-layer-active">
        <div class="widget-layer-content">

            <!-- Widget Layer Heading -->
            <div class="widget-heading">

                <!-- Widget Title -->
                <div class="widget-title">Listado de Tareas</div>
                <!-- /Widget Title -->

            </div>
            <!-- /Widget Layer Heading -->

            <!-- Widget Layer Body -->
            <div class="widget-body">
                <div class="widget-body-content-wrapper custom-scrollbar">
                    <div class="widget-body-content">

                        <!-- Projects List -->
                        <div class="widget-wide no-mb list-group list-group-colored list-group-no-border list-group-hover">

                            <!-- Task Item -->
                            <div class="list-group-item task-item list-group-item-secondary">

                                <!-- Heading -->
                                <div class="wg-heading">

                                    <!-- Checkbox element -->
                                    <div class="md-checkbox md-checkbox-alt md-checkbox-secondary md-checkbox-inline">
                                        <input type="checkbox" id="wg-task-item-01" class="checkbox-feedback">
                                        <label for="wg-task-item-01">
                                            <span class="wg-text">Enviar Reclamaciones Asicorp</span>
                                            <span class="label label-info">Hoy</span>
                                        </label>
                                    </div>
                                    <!-- /Checkbox element -->

                                    <!-- Task item controls -->
                                    <div class="wg-controls">
                                        <a href="#" class="btn btn-square btn-link btn-link-text btn-primary"
                                           data-toggle="collapse" data-target="#wg-task-body-01">
                                            <span class="icon ti-angle-down"></span>
                                        </a>
                                        <a href="#" class="btn btn-square btn-link btn-link-text btn-danger">
                                            <span class="icon ti-close"></span>
                                        </a>
                                    </div>
                                    <!-- /Task item controls -->

                                </div>
                                <!-- /Heading -->

                                <!-- Collapsed Body -->
                                <div id="wg-task-body-01" class="wg-body collapse">
                                    <div class="wg-body-content">

                                        <!-- Meta information -->
                                        <ul class="wg-meta list-unstyled small">
                                            <li>Created by: <a href="#">Valery</a></li>
                                            <li>09:27 PM</li>
                                        </ul>
                                        <!-- /Meta information -->

                                        <!-- Controls -->
                                        <button class="btn btn-xs btn-success btn-link btn-outline btn-rounded">
                                            <span class="icon icon-left ti-check"></span> Terminar
                                        </button>
                                        <button class="btn btn-xs btn-danger btn-link btn-outline btn-rounded">
                                            <span class="icon icon-left ti-trash"></span> Eliminar
                                        </button>
                                        <!-- /Controls -->

                                    </div>
                                </div>
                                <!-- /Collapsed Body -->

                            </div>
                            <!-- /Task Item -->

                            <!-- Task Item -->
                            <div class="list-group-item task-item list-group-item-secondary">

                                <!-- Heading -->
                                <div class="wg-heading">

                                    <!-- Checkbox element -->
                                    <div class="md-checkbox md-checkbox-alt md-checkbox-secondary md-checkbox-inline">
                                        <input type="checkbox" id="wg-task-item-02" class="checkbox-feedback" checked>
                                        <label for="wg-task-item-02">
                                            <span class="wg-text">Cobro de Facturas Marzo</span>
                                        </label>
                                    </div>
                                    <!-- /Checkbox element -->

                                    <!-- Task item controls -->
                                    <div class="wg-controls">
                                        <a href="#" class="btn btn-square btn-link btn-link-text btn-primary"
                                           data-toggle="collapse" data-target="#wg-task-body-02">
                                            <span class="icon ti-angle-down"></span>
                                        </a>
                                        <a href="#" class="btn btn-square btn-link btn-link-text btn-danger">
                                            <span class="icon ti-close"></span>
                                        </a>
                                    </div>
                                    <!-- /Task item controls -->

                                </div>
                                <!-- /Heading -->

                                <!-- Collapsed Body -->
                                <div id="wg-task-body-02" class="wg-body collapse">
                                    <div class="wg-body-content">

                                        <!-- Meta information -->
                                        <ul class="wg-meta list-unstyled small">
                                            <li>Created by: <a href="#">Valery</a></li>
                                            <li>09:27 PM</li>
                                        </ul>
                                        <!-- /Meta information -->

                                        <!-- Controls -->
                                        <button class="btn btn-xs btn-success btn-link btn-outline btn-rounded">
                                            <span class="icon icon-left ti-check"></span> Terminar
                                        </button>
                                        <button class="btn btn-xs btn-danger btn-link btn-outline btn-rounded">
                                            <span class="icon icon-left ti-trash"></span> Eliminar
                                        </button>
                                        <!-- /Controls -->

                                    </div>
                                </div>
                                <!-- /Collapsed Body -->

                            </div>
                            <!-- /Task Item -->

                            <!-- Task Item -->
                            <div class="list-group-item task-item list-group-item-danger">

                                <!-- Heading -->
                                <div class="wg-heading">

                                    <!-- Checkbox element -->
                                    <div class="md-checkbox md-checkbox-alt md-checkbox-danger md-checkbox-inline">
                                        <input type="checkbox" id="wg-task-item-03" class="checkbox-feedback">
                                        <label for="wg-task-item-03">
                                            <span class="wg-text">Solicitar Comprobantes</span>
                                            <span class="label label-danger">Hoy</span>
                                        </label>
                                    </div>
                                    <!-- /Checkbox element -->

                                    <!-- Task item controls -->
                                    <div class="wg-controls">
                                        <a href="#" class="btn btn-square btn-link btn-link-text btn-primary"
                                           data-toggle="collapse" data-target="#wg-task-body-03">
                                            <span class="icon ti-angle-down"></span>
                                        </a>
                                        <a href="#" class="btn btn-square btn-link btn-link-text btn-danger">
                                            <span class="icon ti-close"></span>
                                        </a>
                                    </div>
                                    <!-- /Task item controls -->

                                </div>
                                <!-- /Heading -->

                                <!-- Collapsed Body -->
                                <div id="wg-task-body-03" class="wg-body collapse">
                                    <div class="wg-body-content">

                                        <!-- Meta information -->
                                        <ul class="wg-meta list-unstyled small">
                                            <li>Created by: <a href="#">Valery</a></li>
                                            <li>09:27 PM</li>
                                        </ul>
                                        <!-- /Meta information -->

                                        <!-- Controls -->
                                        <button class="btn btn-xs btn-success btn-link btn-outline btn-rounded">
                                            <span class="icon icon-left ti-check"></span> Terminar
                                        </button>
                                        <button class="btn btn-xs btn-danger btn-link btn-outline btn-rounded">
                                            <span class="icon icon-left ti-trash"></span> Eliminar
                                        </button>
                                        <!-- /Controls -->

                                    </div>
                                </div>
                                <!-- /Collapsed Body -->

                            </div>
                            <!-- /Task Item -->

                            <!-- Task Item -->
                            <div class="list-group-item task-item list-group-item-secondary">

                                <!-- Heading -->
                                <div class="wg-heading">

                                    <!-- Checkbox element -->
                                    <div class="md-checkbox md-checkbox-alt md-checkbox-secondary md-checkbox-inline">
                                        <input type="checkbox" id="wg-task-item-04" class="checkbox-feedback" checked>
                                        <label for="wg-task-item-04">
                                            <span class="wg-text">Reparacion de Aire</span>
                                            <span class="label label-success">Listo</span>
                                        </label>
                                    </div>
                                    <!-- /Checkbox element -->

                                    <!-- Task item controls -->
                                    <div class="wg-controls">
                                        <a href="#" class="btn btn-square btn-link btn-link-text btn-primary"
                                           data-toggle="collapse" data-target="#wg-task-body-04">
                                            <span class="icon ti-angle-down"></span>
                                        </a>
                                        <a href="#" class="btn btn-square btn-link btn-link-text btn-danger">
                                            <span class="icon ti-close"></span>
                                        </a>
                                    </div>
                                    <!-- /Task item controls -->

                                </div>
                                <!-- /Heading -->

                                <!-- Collapsed Body -->
                                <div id="wg-task-body-04" class="wg-body collapse">
                                    <div class="wg-body-content">

                                        <!-- Meta information -->
                                        <ul class="wg-meta list-unstyled small">
                                            <li>Created by: <a href="#">Valery</a></li>
                                            <li>09:27 PM</li>
                                        </ul>
                                        <!-- /Meta information -->

                                        <!-- Controls -->
                                        <button class="btn btn-xs btn-success btn-link btn-outline btn-rounded">
                                            <span class="icon icon-left ti-check"></span> Terminar
                                        </button>
                                        <button class="btn btn-xs btn-danger btn-link btn-outline btn-rounded">
                                            <span class="icon icon-left ti-trash"></span> Eliminar
                                        </button>
                                        <!-- /Controls -->

                                    </div>
                                </div>
                                <!-- /Collapsed Body -->

                            </div>
                            <!-- /Task Item -->

                            <!-- Task Item -->
                            <div class="list-group-item task-item list-group-item-success">

                                <!-- Heading -->
                                <div class="wg-heading">

                                    <!-- Checkbox element -->
                                    <div class="md-checkbox md-checkbox-alt md-checkbox-success md-checkbox-inline">
                                        <input type="checkbox" id="wg-task-item-05" class="checkbox-feedback">
                                        <label for="wg-task-item-05">
                                            <span class="wg-text">Incrementar Pacientes</span>
                                        </label>
                                    </div>
                                    <!-- /Checkbox element -->

                                    <!-- Task item controls -->
                                    <div class="wg-controls">
                                        <a href="#" class="btn btn-square btn-link btn-link-text btn-primary"
                                           data-toggle="collapse" data-target="#wg-task-body-05">
                                            <span class="icon ti-angle-down"></span></a>
                                        <a href="#" class="btn btn-square btn-link btn-link-text btn-danger">
                                            <span class="icon ti-close"></span>
                                        </a>
                                    </div>
                                    <!-- /Task item controls -->

                                </div>
                                <!-- /Heading -->

                                <!-- Collapsed Body -->
                                <div id="wg-task-body-05" class="wg-body collapse">
                                    <div class="wg-body-content">

                                        <!-- Meta information -->
                                        <ul class="wg-meta list-unstyled small">
                                            <li>Created by: <a href="#">Valery</a></li>
                                            <li>09:27 PM</li>
                                        </ul>
                                        <!-- /Meta information -->

                                        <!-- Controls -->
                                        <button class="btn btn-xs btn-success btn-link btn-outline btn-rounded">
                                            <span class="icon icon-left ti-check"></span> Terminar
                                        </button>
                                        <button class="btn btn-xs btn-danger btn-link btn-outline btn-rounded">
                                            <span class="icon icon-left ti-trash"></span> Eliminar
                                        </button>
                                        <!-- /Controls -->

                                    </div>
                                </div>
                                <!-- /Collapsed Body -->

                            </div>
                            <!-- /Task Item -->

                            <!-- Task Item -->
                            <div class="list-group-item task-item list-group-item-info">

                                <!-- Heading -->
                                <div class="wg-heading">

                                    <!-- Checkbox element -->
                                    <div class="md-checkbox md-checkbox-alt md-checkbox-info md-checkbox-inline">
                                        <input type="checkbox" id="wg-task-item-06" class="checkbox-feedback">
                                        <label for="wg-task-item-06">
                                            <span class="wg-text">Terminar lista</span>
                                        </label>
                                    </div>
                                    <!-- /Checkbox element -->

                                    <!-- Task item controls -->
                                    <div class="wg-controls">
                                        <a href="#" class="btn btn-square btn-link btn-link-text btn-primary"
                                           data-toggle="collapse" data-target="#wg-task-body-06">
                                            <span class="icon ti-angle-down"></span>
                                        </a>
                                        <a href="#" class="btn btn-square btn-link btn-link-text btn-danger">
                                            <span class="icon ti-close"></span>
                                        </a>
                                    </div>
                                    <!-- /Task item controls -->

                                </div>
                                <!-- /Heading -->

                                <!-- Collapsed Body -->
                                <div id="wg-task-body-06" class="wg-body collapse">
                                    <div class="wg-body-content">

                                        <!-- Meta information -->
                                        <ul class="wg-meta list-unstyled small">
                                            <li>Created by: <a href="#">Valery</a></li>
                                            <li>09:27 PM</li>
                                        </ul>
                                        <!-- /Meta information -->

                                        <!-- Controls -->
                                        <button class="btn btn-xs btn-success btn-link btn-outline btn-rounded">
                                            <span class="icon icon-left ti-check"></span> Terminar
                                        </button>
                                        <button class="btn btn-xs btn-danger btn-link btn-outline btn-rounded">
                                            <span class="icon icon-left ti-trash"></span> Eliminar
                                        </button>
                                        <!-- /Controls -->

                                    </div>
                                </div>
                                <!-- /Collapsed Body -->

                            </div>
                            <!-- /Task Item -->

                        </div>
                        <!-- /Projects List -->

                    </div>
                </div>
            </div>
            <!-- /Widget Layer Body -->

        </div>
    </div>
    <!-- /Widget Layer: List -->

</div>
<!-- /Widget: Task List -->