<!-- Widget: Total Progress -->
<div class="widget" style="height: 415px;">

    <!-- Widget Layer: List -->
    <div class="widget-layer widget-layer-active">
        <div class="widget-layer-content">

            <!-- Widget Layer Heading -->
            <div class="widget-heading">

                <!-- Widget Title -->
                <div class="widget-title">Agenda Pacientes</div>
                <!-- /Widget Title -->

            </div>
            <!-- /Widget Layer Heading -->

            <!-- Widget Layer Body -->
            <div class="widget-body">
                <div class="widget-body-content-wrapper custom-scrollbar">
                    <div class="widget-body-content">

                        <!-- Progress circle -->
                        <div class="progress-circle mt mb" data-value=".79" data-color="success"></div>
                        <!-- /Progress circle -->

                        <!-- Text -->
                        <p class="text-center text-muted" style="min-height: 62px; ">
En el d&iacute;a de hoy has recibido 79 de 100 pacientes con cita.
                        </p>
                        <!-- /Text -->

                    </div>
                </div>
            </div>
            <!-- /Widget Layer Body -->

            <!-- Widget Layer Footer -->
            <div class="widget-footer">

                <!-- Value Column -->
                <div class="col-xs-4 col-sm-4 text-center">
                    <span class="text-muted text-small text-uppercase">Total</span>
                    <div class="h4 no-margin">100</div>
                </div>
                <!-- /Value Column -->

                <!-- Value Column -->
                <div class="col-xs-4 col-sm-4 text-center">
                    <span class="text-muted text-small text-uppercase">Atendidos</span>
                    <div class="h4 no-margin">79</div>
                </div>
                <!-- /Value Column -->

                <!-- Value Column -->
                <div class="col-xs-4 col-sm-4 text-center">
                    <span class="text-muted text-small text-uppercase">Sin Atender</span>
                    <div class="h4 no-margin">21</div>
                </div>
                <!-- /Value Column -->

            </div>
            <!-- /Widget Layer Footer -->

        </div>
    </div>
    <!-- /Widget Layer: List -->

</div>
<!-- /Widget: Total Progress -->