/* ------------------------------------------------------------------------------------------------------------------ *
 *
 * [Calendar]
 *
 *   + .widget-calendar
 *
 * ------------------------------------------------------------------------------------------------------------------ */

.products-wrapper {

  @include clearfix();
  display: block;

  margin: 0 -15px;

} // .products-wrapper

.product-small {

  display: block;
  float: left;

  width: 25%;
  padding: 5px;
  margin-bottom: 5px;

  cursor: pointer;
  text-align: center;

  .image {

    max-width: 70%;
    margin-bottom: 5px;

    img {
      @include border-radius($border-radius-md);
    } // img

  } // .image

} // .product-small
