/* ------------------------------------------------------------------------------------------------------------------ *
 * [Footer]
 * ------------------------------------------------------------------------------------------------------------------ */


.page-footer {

  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: $line-height-computed;

  background-color: #fff;
  border-top: solid 1px $color-border;

} // .page-footer
