/* ------------------------------------------------------------------------------------------------------------------ *
 * [Toolbar]
 * ------------------------------------------------------------------------------------------------------------------ */

.toolbar {

  position: relative;
  display: flex;

  .toolbar-item + .toolbar-item {
    margin-left: -1px;
  } // .toolbar-item

} // .toolbar
